{%extends 'home/base.html'%}
{% load static %}
{% block content %}

{% if status %}   
      {% if status == 'success'%}   
          <!-- <h3> Data Completed and Thank you 👍👍</h3> -->
          <div class="alert alert-primary" role="alert">
            Data Completed and Thank you 👍👍!
          </div>

      {% else %}
          <h3> Data not complete and Try again  😜😜</h3>

      {% endif %}
        






{% endif %}



<div class= "container">
  <form  method="POST">
    {% csrf_token %}
    <div class="form-group">
      <label for="title">สอบถามหัวข้อ</label>
      <input class="form-control" type="text" name="title" id="title">
    </div>
    <div class="form-group">
      <label for="email">อีเมล์</label>
      <input class="form-control"  type="text" name="email" id="email">
    </div>
    <div class="form-group">
      <label for="detail">รายละเอียด</label>
      <textarea class="form-control" row="5" id="detail" name="detail"></textarea>
    </div>
ิ    <br>
    <button type="submit" class="btn btn-primary">ส่งข้อความ</button>

  </form>
</div>





{% endblock content %}