

{%extends 'home/base.html'%}
{% load static %}
{% block content %}

<!-- {% block title %}witaya{% endblock title %} -->

<div class="pricing-header p-3 pb-md-4 mx-auto text-center">
  <img src=" {% static 'image/logo.jpg' %} "> <br><br>

  <h1 class="display-4 fw-normal ">Witaya Chaison คือใคร?</h1>

  <p>โปรโมเตอร์ ดีพาร์ตเมนท์โมจิมัฟฟินแฟรี กลาส รูบิค วอลนัตวีนซิลเวอร์ไฮเอนด์เทป อริยสงฆ์บอกซ์จิตเภทน็อก
    พอเพียงซันตาคลอสจอหงวน แบคโฮมหาอุปราชาธรรมาภิบาล มอนสเตอร์คีตกวีเทรลเลอร์ คอนเทนเนอร์ สแตนเลสเวณิกา โนติสมหาอุปราชา
    แฮปปี้แคมป์ เซาท์ซีเรียสความหมายแบ็กโฮ เอาต์ อาว์เซลส์โพลารอยด์คอปเตอร์สตีล
    ตุ๊กตุ๊กเซอร์วิสเซลส์ตุ๊กแรงดูด มอคค่ารันเวย์แอดมิสชัน กีวีลอร์ดจังโก้ ซิมฮีโร่คอร์สแจ๊ส โปรเจ็คท์ยิม
    ต้าอ่วยช็อปปิ้งจิ๊กโก๋คอรัปชั่นโนติส กาญจน์โพลารอยด์พุดดิ้งแจม สเตย์คาราโอเกะคอปเตอร์สเตชั่น ตุ๊กคอนโทรล
    นางแบบดีพาร์ทเมนต์แบล็ค เปราะบางเวิลด์ซินโดรมโอยัวะโม
  </p>

</div>


{% endblock content %}